  <div class="jumbotron">
    <h1>Welcome to the Polling Station</h1> 
     <p>If you here to vote on different topics then click All pools on the navigation bar.</p> 
    <p>If you want to create new interesting polls and share it with your friends etc., then Sign Up!</p> 
  </div>